{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Workers</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="{% static 'CSS/styles.css'%}" />
  </head>
  <body>
    <div class="card mx-auto mt-5" style="width: 18rem">
      <img
        src="{{employee.image.url}}"
        class="card-img-top"
        alt="Image of employee"
      />
      <div class="card-body">
        <h5 class="card-title">
          {{employee.first_name}} {{employee.last_name}}
        </h5>
        <p class="card-text">{{employee.phone_number}}</p>
        <p class="card-text">{{employee.email}}</p>
        <a href="{% url 'home' %}" class="btn btn-danger">Back to home</a>
      </div>
    </div>

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
