{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Workers</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="{% static 'CSS/styles.css'%}" />
  </head>
  <body>
    <h2 style="text-align: center">Hi django!</h2>
    <div class="container">
      <table
        class="table table-bordered tabel-primary tabel-striped table-hover"
      >
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">First</th>
            <th scope="col">Last</th>
            <th scope="col">Email</th>
            <th scope="col">Phone number</th>
            <th scope="col">Profiles</th>
          </tr>
        </thead>
        <tbody>
          {% for something in employees%}
          <tr>
            <th scope="row">{{forloop.counter}}</th>
            <td>{{something.first_name}}</td>
            <td>{{something.last_name}}</td>
            <td>{{something.email}}</td>
            <td>{{something.phone_number}}</td>
            <td>
              <a href="{% url 'employee-detail' something.id %}"
                ><button class="btn btn-danger">More</button></a
              >
            </td>
          </tr>
          {% endfor %}
          <tr>
            <td>
              <a href="{% url 'save-emp' %}">
                <button class="btn btn-lg btn-danger">Add employee</button>
              </a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <img src="{% static 'images/manzara.jpg'%}" alt="" />
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
